# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Editor files
.vscode/
.idea/

# Test files
tests/

# Other
*.log
*.swp
.DS_Store
myenv/
env